<!DOCTYPE html>
<html lang="en">
<head>
    <title>nested if-else statements</title>
</head>
<body>
    <center>
    <h1>conditional statements</h1>
    <h1>{% if a > b %}</h1>
            <h1>{% if a > c %}</h1>
                <h2>a is max</h2>
            <h1>{% else %}</h1>
                <h1>c is max</h1>
            <h1>{% endif %}</h1>
    <h1>{% else%}</h1>
            <h2>{% if b > c %}</h2>
                    <h1>b is max</h1>
            <h2>{% else %}</h2>
                <h2>c is max</h2>
            <h2>{% endif %}</h2>
    <h1>{% endif %}</h1>
    </center>
</body>
</html>